fastapi==0.128.8
httpx==0.28.1
kenlm @ git+https://github.com/kpu/kenlm.git@4cb443e60b7bf2c0ddf3c745378f76cb59e254e5
pydantic-settings==2.11.0
pytest==8.4.2
python-crfsuite==0.9.11
scikit-learn==1.6.1
uvicorn[standard]==0.39.0
