fastapi==0.139.2
httpx==0.28.1
kenlm @ git+https://github.com/kpu/kenlm.git@4cb443e60b7bf2c0ddf3c745378f76cb59e254e5
pydantic-settings==2.12.0
pytest==9.1.1
python-crfsuite==0.9.12
scikit-learn==1.9.0
uvicorn[standard]==0.51.0
